@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header {
text-align: center;
}

body {
  font-family: "Poppins";
  line-height: 1.4;
  background-color: #e11383;
  width: 500px;
  margin: auto;
}

p {
text-align: center;  
}

#survey-form {
  background-color: #f5821f;
  padding: 40px 0px 40px 40px; 
  width: 500px;
  margin: auto;
  border-radius: 2rem;
  text-align: left;
}

#name-label {
    display: inline-block;
    width: 100px;
    text-align: left;
} 
#email-label {
    display: inline-block;
    width: 100px;
  text-align: left
}

#number-label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

#name {
    width: 250px;
    padding: 5px;
  
}

#email {
    width: 250px;
    padding: 5px;
  
}

#number {
    width: 250px;
    padding: 5px;
}

.submit-button {
 
  padding: 10px 30px 10px 30px;
  background:  #e11383;
  color:  #ffffff;
  cursor: pointer;
  border-radius: 2rem;
}

.input-headings {
margin: 0 auto 1.25rem auto;
padding: 0.25rem;
  
}

.form-inputs {
diplay: block;
width: 90%;
height: 1rem;
padding: 3px 3px;
background-color: #fff;
border-radius: 0.25rem; 
border: 1px;
}


